.secWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  max-width: 994px;
  margin-inline: auto;
  h2 {
    width: 100%;
    font-size: 48px;
    padding-block: 32px;
    padding-inline: 24px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
  }
}
