.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  .imgBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    p {
      font-size: 20px;
    }
  }

  .aboutText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
